.seguros-bg-principal {
  padding-top: 0;
}

.vantagens-bg {
  background-color: var(--cor-3);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.vantagens-bg h2 {
  padding-bottom: 6rem;
}

.vantagens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.vantagens h3 {
  padding: 0.8rem 0;
}

.perguntas {
  padding: 6rem 0;
}

.perguntas h2 {
  padding-bottom: 4rem;
}

.perguntas dl div {
  padding: 2rem;
}

.perguntas dl div:nth-child(odd) {
  background-color: #f7f7f7
}

.perguntas button {
  font-weight: 600;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.perguntas button::before {
  content: '';
  width: 1.2rem;
  height: 0.8rem;
  display: inline-block;
  background-color: var(--cor-p1);
}

.perguntas button::after {
  content: '';
  background-image: url('../img/icones/seta-abrir.svg');
  width: 1.4rem;
  height: 0.6rem;
  display: inline-block;
}

.js .perguntas dd {
  display: none;
  padding-top: 1.2rem;
  max-width: 76ch;
  padding-left: 2rem;
  animation: drop-down .3s forwards;
}

.js .perguntas dd.ativo {
  display: block;
}

@media (max-width: 600px) {
  .vantagens {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .vantagens {
    grid-template-columns: 1fr;
  }
}