.seguros-bg-principal {
  padding-top: 0;
}

.vantagens-bg {
  background-color: var(--cor-3);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.vantagens-bg h2 {
  padding-bottom: 6rem;
}

.vantagens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
