* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--cor-0);
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 0.4rem;
}

a {
  color: inherit;
}