.header-bg {
  background-color: var(--cor-3);
  padding: 4rem;
}

.header-bg div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.header-menu a {
  padding: 1.6rem 0;
  position: relative;
}

.header-menu a::after {
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background-color: var(--cor-0);
  margin-top: 0.4rem;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after,
.header-menu li.ativo a::after {
  width: 100%;
}

.menu-mobile {
  display: none;
  cursor: pointer;
}

@media (max-width: 950px) {
  .header-bg {
    position: relative;
  }

  .header-menu {
    display: none;
    position: absolute;
    top: 8rem;
    left: 0;
    background-color: var(--cor-3);
    padding: 4rem 2.2rem;
    width: 100%;
    gap: 2.8rem;
    animation: drop-down 0.6s forwards;
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu.ativo {
    display: grid;
  }

  .header-menu li {
    font-size: 1.6rem;
  }

  .menu-mobile {
    display: block;
    padding: 1.6rem 1.4rem;
    background-color: var(--cor-2);
    border: 0.1rem solid var(--cor-1);
    border-radius: 0.4rem;
  }
  
  .menu-mobile::after {
    content: '';
    display: block;
    height: 0.2rem;
    width: 2.4rem;
    background-color: white;
    box-shadow: 0 0.8rem white, 0 -0.8rem white;
  }
}

@media (max-width: 500px) {
  .header-bg{
    padding: 2rem 0.4rem;
  }

  .header-menu {
    top: 7rem;
  }
}