.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.botao {
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
  color: #332200;
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(#ffbf00, #da9100);
}

.botao-secundario {
  background: #2e2e2e;
  color: var(--cor-0);
}

.botao-secundario:hover {
  background: #474747;
}

.botao-link {
  display: inline-block;
  color: var(--cor-p1);
  font-size: 2.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.botao-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: var(--cor-p1);
  border-radius: 0.4rem;
}
.botao-link:hover {
  color: var(--cor-0);
}
.botao-link:hover:after {
  background-color: var(--cor-0);
}

.titulo p {
  text-transform: uppercase;
}

@media (max-width: 950px) {
  .botao-link {
    font-size: 2rem;
  }
}