@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

.fn-1 {
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

.fn-2 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.fn-3 {
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.f-1 {
  font-size: 6.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

.f-2 {
  font-size: 3.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.f-3 {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

@media (max-width: 1150px) {
  .fn-1 {
    font-size: 2rem;
  }
  
  .fn-2 {
    font-size: 1.6rem;
  }
  
  .fn-3 {
    font-size: 1.4em;
  }
  
  .f-1 {
    font-size: 5.2rem;
  }
  
  .f-2 {
    font-size: 2.8rem;
  }
  
  .f-3 {
    font-size: 1.6rem;
  }
}

@media (max-width: 950px) {
  .fn-1 {
    font-size: 1.8rem;
  }
  
  .f-1 {
    font-size: 4rem;
  }
  
  .f-2 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .f-1 {
    font-size: 3.2rem;
  }

  .f-3 {
    font-size: 1.4rem;
  }
}