.form {
  background-color: var(--cor-0);
  padding: 6rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

input,
textarea {
  display: block;
  margin-top: 0.8rem;
  background-color: #f7f7f7;
  border: 0.2rem solid #ececec;
  border-radius: 0.4rem;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: var(--cor-0);
  border-color: var(--cor-p1);
  box-shadow: 0 0 0 2px #fea;
}

.span-2 {
  grid-column: 1/-1;
}

.form button {
  border: none;
  cursor: pointer;
  outline-color: var(--cor-p1);
  justify-self: start;
}

@media (max-width: 800px) {
  .form {
    padding: 2rem;
  }

  .form {
    grid-template-columns: 1fr;
  }
}