.bicicletas-home {
  padding: 6rem 2rem 12rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.bicicletas-home h2 {
  padding-bottom: 2rem;
}

.bicicletas-home-lista {
  display: flex;
  gap: 4rem;
}

.bicicletas-home-lista li:hover h3::before {
  width: 2.8rem;
}

.bicicletas-home-lista img {
  padding-bottom: 0.8rem;
}

.bicicletas-home-lista h3 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.bicicletas-home-lista h3::before {
  content: '';
  display: inline-block;
  background-color: var(--cor-p1);
  width: 1.6rem;
  height: 0.8rem;
  transition: 0.3s;
}

.bicicletas-home-lista p {
  padding-left: 2rem;
}