.introducao-bg {
  background-color: var(--cor-3);
  box-shadow: 0 -10rem inset var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.introducao-conteudo {
  padding-bottom: 6rem;
}

.introducao-conteudo h1 {
  padding-top: 12rem;
}

.introducao-conteudo p {
  padding: 2rem 0;
}

.introducao-img {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 950px) {
  .introducao-bg {
    background-color: var(--cor-2);
  }

  .introducao {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .introducao-conteudo h1 {
    padding-top: 6rem;
  }

  .introducao picture {
    width: 100%;
  }

  .introducao-img {
    height: 30rem;
    width: 100%;
  }
}