.parceiros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 140rem;
  margin: 0 auto;
  padding: 6rem 2rem 12rem 2rem;
}

.parceiros li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border-right: 0.2rem solid #ececec;
}

.parceiros li:last-child,
.parceiros li:nth-child(4) {
  border: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 0.2rem solid #ececec;
}

@media (max-width: 950px) {
  .parceiros {
    grid-template-columns: 1fr 1fr;
  }

  .parceiros li:nth-child(n + 3) {
    border-top: 0.2rem solid #ececec;
  }

  .parceiros li:nth-child(even) {
    border-right: none;
  }
}