.tecnologia-bg {
  background-color: var(--cor-2);
  box-shadow: 0 10rem inset var(--cor-0), 0 -10rem inset var(--cor-0);
  margin-bottom: 12rem;
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
}

.tecnologia-conteudo {
  padding-top: 10rem;
  padding-bottom: 16rem;
}

.tecnologia-conteudo a {
  padding-top: 2rem;
}

.tecnologia-lista {
  display: flex;
  gap: 4rem;
  padding-top: 6rem;
}

.tecnologia-lista h3 {
  padding: 0.8rem 0;
}

.tecnologia-img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 950px) {
  .tecnologia-bg {
    margin-bottom: 0rem;
  }

  .tecnologia {
    grid-template-columns: 1fr;
  }

  .tecnologia-img {
    display: none;
  }
}

@media (max-width: 500px) {
  .tecnologia-lista {
    display: grid;
  }

  .tecnologia-lista p {
    max-width: 40ch;
  }
}